/* Trade Gothic */
@font-face {
    font-family: 'slick';
    src: url('../fonts/slick/slick.woff') format('woff');
}


$rem-base           : 16px;    // Default font rem size

// Main site colors
$primary            : #000;    // black
$secondary          : #666; // medium gray
$highlight          : #fff; // purple
