{% extends "layout.njk" %}

{% block content %}
<div class="wrapper" style="width:60%;margin:0 auto;background:#fff;padding:5%;">

    <h3>Main Navigation</h3>
    <ul>
        <li>
            <a href="/wp-content/themes/....html">[ Logo ]</a> <strong>home.html</strong>
        </li>
    </ul>
    <h3>Footer Navigation</h3>
    <ul>
        <li>
            <a href="/wp-content/themes/....html">My Page</a> <strong>template.html</strong>
        </li>

    </ul>
</div>
{% endblock %}
